<!DOCTYPE html>
<html lang="en">

<head>
    <!--<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">-->


    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>Show CSV</title>
    <style>
        #table-container {
            position: relative;
            width: 90%;
            left: 5%;
        }
    </style>
</head>

<body>
    <script>
        $(document).ready(function() {
            $('#csvTable').DataTable();
        });
    </script>
    <div id="table-container">
        <div class="container-fluid">
            <center>
                <h1 class="text-info bg-danger">CSV Visualizer</h1>
            </center>
            <table id="csvTable" class="table table-responsive table-bordered table-striped table-hover dataTable" align='center'>
                <thead>
                    <tr role="row">
                        <th class="sorting">First Name</th>
                        <th>Last Name</th>
                        <th>Title</th>
                        <th>E-mail</th>
                        <th>Birthdate</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>
                            {{ row.split(',')[0] }}
                        </td>
                        <td>
                            {{ row.split(',')[1] }}
                        </td>
                        <td>
                            {{ row.split(',')[2] }}
                        </td>
                        <td>
                            {{ row.split(',')[3] }}
                        </td>
                        <td>
                            {{ row.split(',')[4] }}
                        </td>
                        <td>
                            {{ row.split(',')[5] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>
